{% extends 'layout.html' %}

{% block contents %}

<div id="listArea">
  <div class="navbar">
    <div class="navbar-inner">
      <form id="url-form" class="navbar-form pull-left" method="GET" action="#">
        <input type="text" class="span8" name="url" placeholder="リストに追加したい情報が記載されているURLを入れてください" required>
        <button type="submit" class="btn">情報を取得</button>
      </form>
    </div>
    <i class="icon-exclamation-sign"></i> 楽天市場、楽天トラベル、Yahoo!ショッピング、Cookpad のレシピ URL など
  </div>

  <button id="import-r-bookmark" class="btn btn-primary">楽天お気に入りブックマークから入力</button>
  <div id="suggest">
  </div>
</div>

<h4>リストプレビュー</h4>
<div id="preview">
</div>

<div id="mainArea">
  <div class="navbar">
    <div class="navbar-inner">
      <form id="make" class="navbar-form pull-left" method="POST" action="/create">
        <input type="text" class="span8" id="input-subject" name="subject" placeholder="リストの名前を入力してください" required>
        <button id="make-submit" type="submit" class="btn btn-primary">作成</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block bottom %}
<script src="/javascripts/listarea.js"></script>

{% raw %}
<script id="stmpl" type="text/x-jquery-tmpl">
<div class="row">
  <div class="span1">
    {{if $item.isa }}
    <select class="select_type" style="width:80px">
      <option{{if type == 'ほしい'}} selected{{/if}}>ほしい</option>
      <option{{if type == 'いきたい'}} selected{{/if}}>いきたい</option>
      <option{{if type == 'つくってほしい'}} selected{{/if}}>つくってほしい</option>
      <option{{if type == 'みたい'}} selected{{/if}}>みたい</option>
      <option{{if type == 'たべたい'}} selected{{/if}}>たべたい</option>
      <option{{if type == 'おねがい'}} selected{{/if}}>おねがい</option>
    </select>
    {{/if}}
    {{if $item.isd }}
    <span class="badge badge-important">${type}</span>
    {{/if}}
  </div>
  <div class="span3">
    {{if image }}
      <img src="${image}" />
    {{/if}}
  </div>
  <div class="span5">
    <div class="title bf">${title}</div>
    {{if formattedCost }}
    <div class="cost">￥<span class="number">${formattedCost}</span></div>
    {{/if}}
    {{if description}}
    <div class="description">${description}</div>
    {{/if}}
  </div>
  {{if $item.isa }}
  <div class="span2">
    <button class="s-add-button btn btn-primary" type="button">リストに追加</button>
  </div>
  {{/if}}
  {{if $item.isd }}
  <div class="span2">
    <button class="s-del-button btn btn-danger" type="button">リストから削除</button>
  </div>
  {{/if}}
</div>
</script>
<script id="tinput" type="text/x-jquery-tmpl">
<input type="hidden" value="${title}" name="item[${n}][title]">
<input type="hidden" value="${image}" name="item[${n}][image]">
<input type="hidden" value="${url}" name="item[${n}][url]">
{{if description }}
<input type="hidden" value="${description}" name="item[${n}][description]">
{{/if}}
{{if cost}}
<input type="hidden" value="${cost}" name="item[${n}][cost]">
{{/if}}
<input type="hidden" value="${type}" name="item[${n}][type]">
</script>
{% endraw %}
{% endblock %}
