{% extends 'layout.html' %}

{% block contents %}
<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item">
          <img src="images/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>プレゼントを買ってもらおう</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="create">リストを作成</a>
            </div>
          </div>
        </div>
        <div class="item active left">
          <img src="images/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>旅行に連れて行ってもらおう</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="create">リストを作成</a>
            </div>
          </div>
        </div>
        <div class="item next left">
          <img src="images/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>食べたい料理を作ってもらおう</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="create">リストを作成</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
</div>
{% endblock %}

{% block bottom %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="bootstrap/js/jquery.js"></script>
<script src="bootstrap/js/bootstrap-carousel.js"></script>
<script>
  !function ($) {
    $(function(){
      $('#myCarousel').carousel({
      	size: 3,
    	scroll: 1, 
    	visible: 1,
    	auto: 3
      })
    })
  }(window.jQuery)
</script>
<script src="bootstrap/js/holder.js"></script>
{% endblock %}
