{% extends 'layout.html' %}

{% block contents %}

<div id="mainArea">
  <h4>{{ doc.subject }}</h4>
</div>

<div id="listArea">
  {% for item in doc.items -%}
  <div class="row">
    <div class="span1">
      {{item.type}}
    </div>
    <div class="span4">
      {% if item.image %}
        <a href="{{item.url}}"><img src="{{item.image}}" /></a>
      {% endif %}
    </div>
    <div class="span6">
      <div class="title"><a href="{{item.url}}" target="_blank">{{ item.title }}</a></div>
      {% if item.cost %}
      <div class="cost">￥<span class="number">{{ item.cost | number_format }}</span></div>
      {% endif %}
      {% if item.description %}
      <div class="description">{{ item.description }}</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
